{% if article.prev_article or article.next_article %}
  <div class="postnav">
    {% if article.prev_article %}
      <a class={% if not LEPAGITO_NAVIGATION_SWAP %}"postprev"{% else %}"postnext"{% endif %}
         href="{{ SITEURL }}/{{ article.prev_article.url}}">
        {{ article.prev_article.title }}
      </a>
    {% endif %}
    {% if article.next_article %}
      <a class={% if not LEPAGITO_NAVIGATION_SWAP %}"postnext"{% else %}"postprev"{% endif %}
         href="{{ SITEURL }}/{{ article.next_article.url}}">
        {{ article.next_article.title }}
      </a>
    {% endif %}
  </div>
{% endif %}
