{% extends "base.html" %}

{% block html_lang %}
  {{ article.lang }}
{% endblock %}

{% block title %}
  {{ SITENAME }} - {{ article.title|striptags  }}
{% endblock %}

{% block head %}
  {{ super() }}
  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}
  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="pagep">
    <article class="hentry">
      <header>
        <h1 class="entrytitle">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
             title="Permalink to {{ article.title|striptags }}">
            <main><!-- for the search plugin -->
	      {% if article.galleria_image %}
                <img
	          {% if article.galleria_image_process_class %}
                    class="image-process-{{ article.galleria_image_process_class }}"
                  {% endif %}
                  src="{% if SITEURL %}{{ SITEURL }}/{% endif %}{{ article.galleria_image }}"
                  style="display: inline-block; height: 1.2em;"
                >
	      {% elif article.photo_image %}
                <img 
                  class="inlineimage"
                  src="{{ SITEURL }}/{{ article.photo_image[2] }}"
                  style="display: inline-block; height: 1.2em;" />
              {% endif %}
              {{ article.title }}
            </main><!-- for the search plugin -->
          </a>
        </h1>
        {% include 'article-navigation.html' %}
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
      </header>
      <footer class="postinfo">
        {% if article.date and article.status != 'hidden' %}
          <time class="published" datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
          </time>
        {% endif %}
        {% if article.modified and article.status != 'hidden' %}
          <time class="modified" datetime="{{ article.modified.isoformat() }}">
            {{ article.locale_modified }}
          </time>
        {% endif %}
        {# when only one non-hidden category is present, then omit printing the category #}
        {% if article.category and (categories | count) >= 2 and article.status != 'hidden' %}
          <div class="category">
            {% if I18N_CATEGORY %}{{ I18N_CATEGORY }}{% else %}Category{% endif %}:
            <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
          </div>
        {% endif %}
        {% if article.tags %}
          <main><!-- for the search plugin -->
            <div class="tags">
              {% if I18N_TAGS %}{{ I18N_TAGS }}{% else %}#Tags{% endif %}:
              {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
              {% endfor %}
            </div>
          <main><!-- for the search plugin -->
        {% endif %}
      </footer><!-- /.post-info -->
      <div class="entrycontent">
        <main><!-- for the search plugin -->
          {{ article.content }}
        </main><!-- for the search plugin -->
        {% if article.photo_gallery %}
          {% set galleries = article.photo_gallery %}
          {% include 'inline_gallery.html' %}
        {% endif %}
      </div><!-- /.entrycontent -->
      {% include 'article-navigation.html' %}
    </article>
  </div>
{% endblock %}
