<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      <meta charset="utf-8" />
      <meta name="author"                  content="{{ SITEURL }}" />
      <meta name="copyright"               content="{{ SITEURL }}/index.html" />
      <meta name="description"             content="Drawing & painting" />
      <meta name="generator"               content="Pelican" />
      <meta name="viewport"                content="width=device-width, initial-scale=1.0" />
      <meta name="msapplication-TileColor" content="#00aba9">
      <meta name="theme-color"             content="#ffffff">
      <meta name="robots"                  content="index,follow">
      <meta name="msapplication-config"                   content="{{ SITEURL }}/theme/img/browserconfig.xml">
      <link rel="apple-touch-icon"           sizes="180x180" href="{{ SITEURL }}/theme/img/apple-touch-icon.png">
      <link rel="icon"      type="image/png" sizes="32x32"   href="{{ SITEURL }}/theme/img/favicon-32x32.png">
      <link rel="icon"      type="image/png" sizes="16x16"   href="{{ SITEURL }}/theme/img/favicon-16x16.png">
      <link rel="manifest"                                   href="{{ SITEURL }}/theme/img/site.webmanifest">
      <link rel="mask-icon"                                  href="{{ SITEURL }}/theme/img/safari-pinned-tab.svg" color="#5bbad5">
      <link rel="icon"      type="image/x-icon"              href="{{ SITEURL }}/theme/img/favicon.ico" />
      <link rel="stylesheet"                                 href="{{ SITEURL }}/theme/css/{% if LEPAGITO_COLOR_CSS_FILE %}{{ LEPAGITO_COLOR_CSS_FILE }}{% else %}color.css{% endif %}" type="text/css" />
      <link rel="stylesheet"                                 href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
      <link rel="stylesheet"                                 href="{{ SITEURL }}/theme/css/{% if LEPAGITO_GALLERY_CSS_FILE %}{{ LEPAGITO_GALLERY_CSS_FILE }}{% else %}gallery.css{% endif %}" type="text/css" />
      <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
                            type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endblock head %}
    {% if SEARCH_MODE %}
      {% if SEARCH_CDN %}
        <link rel="stylesheet" href="https://files.stork-search.net/basic.css" type="text/css" />
        <link rel="stylesheet" href="https://files.stork-search.net/dark.css"  type="text/css"
                               media="screen and (prefers-color-scheme: dark)" />
      {% else %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/stork.css"      type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/stork-dark.css" type="text/css"
	      media="screen and (prefers-color-scheme: dark)" />
      {% endif %}
    {% endif %}
  </head>
  <body id="index" class="home">
    <header id="top">
      <a href="{{ SITEURL }}/index.html">
         <img class="logo" src="{{ SITEURL }}/theme/img/logo.png" alt="{{ SITENAME }} logo" width="115" height="120">
         <h1  class="sitetitle">{{ SITENAME }}</h1>
      </a>
      {% if SITESUBTITLE %}
        <p class="baseline">{{ SITESUBTITLE }}</p>
      {% endif %}
    </header><!-- /#top -->
    <nav class="menu">
      <ul>
        {% for title, link in MENUITEMS %}
          <li{% if link == output_file %} class="active"{% endif %}>
            <a href="{{ link }}">{{ title }}</a>
          </li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <li{% if p == page %} class="active"{% endif %}>
              <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
            </li>
          {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}>
              <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
            </li>
          {% endfor %}
        {% endif %}
        {% if SEARCH_MODE %}
          <li>
            <a href="">?</a>
            <input data-stork="sitesearch" />
            <div data-stork="sitesearch-output"></div>
          </li>
        {% endif %}
      </ul>
    </nav><!-- /#menu -->
    {% block content %}
    {% endblock %}
    <footer id="contentinfo" class="body">
    </footer><!-- /#contentinfo -->
    <footer>
      <div id="footer" class="footermenu">
        {% if FOOTERMENUITEMS %}
          <ul>
            {% for title, link in FOOTERMENUITEMS %}
              <li>
                <a href="{{ link }}">{{ title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if FOOTERMENUFEED != False %}
          <div class="feedlink">
            <a href="{{ SITEURL }}/archives.html">
              {% if I18N_ARCHIVES %}{{ I18N_ARCHIVES }}{% else %}Archives{% endif %}
            </a>
            {% if FEED_ALL_ATOM_URL or FEED_ALL_ATOM %}
              <a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
                {% if I18N_FEED_ALL_ATOM %}{{ I18N_FEED_ALL_ATOM }}{% else %}Feed{% endif %}
              </a>
            {% endif %}
            {% if FEED_ALL_RSS_URL or FEED_ALL_RSS %}
              <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
            {% endif %}
            {% if FEED_ATOM_URL or FEED_ATOM %}
              <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
            {% endif %}
            {% if FEED_RSS_URL or FEED_RSS %}
              <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
            {% endif %}
            {% if category and (CATEGORY_FEED_ATOM_URL or CATEGORY_FEED_ATOM) %}
              <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
            {% endif %}
            {% if category and (CATEGORY_FEED_RSS_URL or CATEGORY_FEED_RSS) %}
              <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
            {% endif %}
            {% if tag and (TAG_FEED_ATOM_URL or TAG_FEED_ATOM) %}
              <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
            {% endif %}
            {% if tag and (TAG_FEED_RSS_URL or TAG_FEED_RSS) %}
              <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
            {% endif %}
          </div>
        {% endif %}
        {% if SOCIAL %}
          <div class="sociallink">
            {% for name, link in SOCIAL %}
              <li>
                <a href="{{ link }}">{{ name }}</a>
              </li>
            {% endfor %}
          </div><!-- /.sociallink -->
        {% else %}
          <p>
        {% endif %}
        <div>
          <a href="#top">↑ {% if I18N_TOP %}{{ I18N_TOP }}{% else %}Top{% endif %} ↑</a>
        </div>
      </div>
    </footer>
    {% if SEARCH_MODE %}
      {% if SEARCH_CDN %}
        <script src="https://files.stork-search.net/releases/v1.5.0/stork.js"></script>
        <script>
          stork.register("sitesearch", "{{ SITEURL }}/search-index.st")
        </script>
      {% else %}
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/stork.js"></script>
        <script>
            stork.initialize("{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/stork.wasm")
            stork.downloadIndex("sitesearch", "{{ SITEURL }}/search-index.st")
            stork.attach("sitesearch")
	</script>
      {% endif %}
    {% endif %}
    {% if LEPAGITO_GALLERY_CSS_FILE == 'magnific-popup.css' %}
      {% include 'lightbox_gallery.html' %}
    {% endif %}
  </body>
</html>
