{% extends "base.html" %}

{% block title %}
  {{ SITENAME }} - {% if I18N_CATEGORIES %}{{ I18N_CATEGORIES }}{% else %}Categories{% endif %}
{% endblock %}

{% block content %}
  <div class="pagep">
    <div class="hentry">
      <h1 class="entrytitle">
        {% if I18N_CATEGORIES %}{{ I18N_CATEGORIES }}{% else %}Categories{% endif %}
      </h1>
      <ul class="entrycontent">
        {% for category, articles in categories | sort %}
          <li class="taglist">
            <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles | count }})
          </li>
        {% endfor %}
      </ul>
    </div>
    {% if series %}
      <div class="hentry">
        <h1 class="entrytitle">
          {% if I18N_SERIES %}{{ I18N_SERIES }}{% else %}Series{% endif %}
        </h1>
        <ul class="entrycontent">
          {% for series_name, series_articles in series.items() %}
          {% set article = series_articles[0] %}
            <article class="card">
  	    <a href="{{ article.url }}" class="image">
  	      <img src="/images/{{ article.image }}.jpg" alt="{{ article.image }}" />
  	    </a>
  	    <div class="card-body">
      	      <a href="{{ article.url }}">
                  <h3 class="card-title">{{ series_name }}</h3>
                </a>
       	      <ul class="actions">
       	        <li><a href="{{ article.url }}" class="button">Start</a></li>
       	      </ul>
  	    </div>
            </article>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}
