{% extends "base.html" %}
{% block content %}
  <div class="pagep">
    {% if articles_page.has_other_pages() %}
      {% include 'page-navigation.html' %}
    {% endif %}
    <div id="post-list">
      {% for article in articles_page.object_list %}
        <article class="hentry">
          <header>
            <h2 class="entrytitle">
	      {% if article.galleria_image %}
                <img
	          {% if article.galleria_image_process_class %}
                    class="image-process-{{ article.galleria_image_process_class }}"
                  {% endif %}
                  src="{% if SITEURL %}{{ SITEURL }}/{% endif %}{{ article.galleria_image }}"
                  style="display: inline-block; height: 1.2em;"
                >
	      {% elif article.photo_image %}
                <img
                  class="inlineimage"
                  src="{{ SITEURL }}/{{ article.photo_image[2] }}"
                  style="display: inline-block; height: 1.2em;" />
              {% endif %}
              <a href="{{ SITEURL }}/{{ article.url }}"
                 rel="bookmark"
                 title="Permalink to {{ article.title|striptags }}">
                {{ article.title }}
              </a>
            </h2>
          </header>
          <footer class="postinfo">
            {% if article.date %}
              <time class="published" datetime="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
              </time>
            {% endif %}
            {% if article.modified %}
              <time class="modified" datetime="{{ article.modified.isoformat() }}">
                {{ article.locale_modified }}
              </time>
            {% endif %}
            {# when only one non-hidden category is present, then omit printing the category #}
            {% if article.category and (categories | count) >= 2 and article.status != 'hidden' %}
              <div class="category">
                {% if I18N_CATEGORY %}{{ I18N_CATEGORY }}{% else %}Category{% endif %}:
                <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
              </div>
            {% endif %}
            {% if article.tags %}
              <div class="tags">
                {% if I18N_TAGS %}{{ I18N_TAGS }}{% else %}#Tags{% endif %}:
                {% for tag in article.tags %}
                  <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </footer><!-- /.postinfo -->
          <div class="entrycontent">
            {{ article.summary }}
            {% if article.summary != article.content %}
              <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">
                {% if I18N_READ_MORE %}{{ I18N_READ_MORE }}{% else %}Read more{% endif %}:
              </a>
            {% elif article.photo_gallery %}
              <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">
                {% if I18N_SEE_MORE %}{{ I18N_SEE_MORE }}{% else %}See more{% endif %}:
              </a>
            {% endif %}
          </div><!-- /.entrycontent -->
        </article>
      {% endfor %}
    </div><!-- /#post-list -->
    {% if articles_page.has_other_pages() %}
      {% include 'page-navigation.html' %}
    {% endif %}
  </div><!-- /#content -->
{% endblock content %}
