<figure>
  <a href="{{ SITEURL }}/{{ image_source }}">
    <{{ tag }} {{ attributes_before }} {{ src }}="{{ SITEURL }}/{{ image_thumb }}" {{ attributes_after }}
  </a>
  <figcaption>
    {{ caption }}
  </figcaption>
</figure>
