{% for title, gallery in galleries %}
  <div>
    <ul class="gallery"
      {% if options and options['sameline'] %}
        style="flex-wrap: nowrap;"
      {% endif %}
    >
      {% if options and options['reverse'] %}
        {% set use_reverse = True %}
      {% else %}
        {% set use_reverse = False %}
      {% endif %}
      {% for x in (gallery | sort(reverse=use_reverse,attribute="filename")) %}
        {% set name, photo, thumb, exif, caption = x %}
        <li>
          <figure>
            {% if exif != "" %}
              {# interprets exif as a link #}
              <a    href="{{ exif }}">
            {% else %}
              <a    href="{% if SITEURL %}{{ SITEURL }}/{% endif %}{{ photo }}">
            {% endif %}
                <img src="{% if SITEURL %}{{ SITEURL }}/{% endif %}{{ thumb }}" width="100%;">
              </a>
            <figcaption>
              {{ caption }}
            </figcaption>
          </figure>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
