<!-- >>>> Start >>>>> PHOTO plugin: lightbox script >>>>>>>>> -->

<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>

<!-- Magnific Popup core JS file -->
<script src="{{ SITEURL }}/theme/js/magnific-popup.min.js"></script>
<script>
$('.gallery').magnificPopup({
	delegate: 'a',
	type: 'image',
	gallery: {
		enabled: true,
		navigateByImgClick: true,
		preload: [1,2]
	},
	image: {
		titleSrc: function(item) {
			if (item.el.attr('caption') && item.el.attr('exif')) {
				return (item.el.attr('caption').replace(/\\n/g, '<br />') +
					'<small>' + item.el.attr('title') + ' - ' + item.el.attr('exif') + '</small>');
			}
		return item.el.attr('title') + '<small>' + item.el.attr('exif') + '</small>';
	} }
});
</script>
<!-- >>>> Start >>>>> PHOTO plugin: lightbox script >>>>>>>>> -->
