{% if DEFAULT_PAGINATION %}
  {% set first_page = articles_paginator.page(1) %}
  {% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
  <div class="pagenav">
    {% if articles_page.has_next() %}
      <div class="pagenext">
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}">
          {% if not LEPAGITO_NAVIGATION_SWAP %}
            {% if I18N_OLDEST %}{{ I18N_OLDEST }}{% else %}Oldest{% endif %}
          {% else %}
            {% if I18N_NEXT %}{{ I18N_NEXT }}{% else %}Next{% endif %}
          {% endif %}
          &raquo;
        </a>
        &#20; &#20;
        <a href="{{ SITEURL }}/{{ last_page.url }}">
          {% if I18N_LAST %}{{ I18N_LAST }}{% else %}Last{% endif %}
          &#8649;
        </a>
      </div>
    {% endif %}
    <span class="pagenum">
      {% if I18N_PAGE %}{{ I18N_PAGE }}{% else %}Page{% endif %}
      {{ articles_page.number }} / {{ articles_paginator.num_pages }}
    </span>
    {% if articles_page.has_previous() %}
      <div class="pageprev">
        <a href="{{ SITEURL }}/{{ first_page.url }}">
          &#8647;
          {% if I18N_FIRST %}{{ I18N_FIRST }}{% else %}First{% endif %}
        </a>
        &#20; &#20;
        <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">
          &laquo;
          {% if not LEPAGITO_NAVIGATION_SWAP %}
            {% if I18N_NEWEST %}{{ I18N_NEWEST }}{% else %}Newest{% endif %}
          {% else %}
            {% if I18N_PREV %}{{ I18N_PREV }}{% else %}Prev{% endif %}
          {% endif %}
        </a>
      </div>
    {% endif %}
  </div>
{% endif %}
