{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ period | reverse | join(' ') }} archives{% endblock %}

{% block content %}
  <div class="pagep">
    <div class="hentry">
      <h1 class="entrytitle">
        {{ period | reverse | join(' ') }}
      </h1>
      <div class=".entrycontentnopagefooter">
        <ul class="archive">
          {% for article in dates %}
            <li>
	      {% if article.galleria_image %}
                <img
	          {% if article.galleria_image_process_class %}
                    class="image-process-{{ article.galleria_image_process_class }}"
                  {% endif %}
                  src="{% if SITEURL %}{{ SITEURL }}/{% endif %}{{ article.galleria_image }}"
                  style="display: inline-block; height: 1.2em;"
                >
              {% elif article.photo_image %}
                <a href="{{ SITEURL }}/{{ article.url }}">
                  <img 
                    class="inlineimage"
                    src="{{ SITEURL }}/{{ article.photo_image[2] }}"
                    style="display: inline-block; height: 1.5em;" /></a>
              {% endif %}
              {{ article.locale_date }}:
              <a href="{{ SITEURL }}/{{ article.url }}">
                {{ article.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      <div class="tags">
        &laquo
        <a href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS }}">
          {% if I18N_BACK_TO %}{{ I18N_BACK_TO }}{% else %}Back to{% endif %}
          &#20;
          {% if I18N_ARCHIVES %}{{ I18N_ARCHIVES }}{% else %}Archives{% endif %}
        </a>
      </div>
      <br>
    </div>
  </div>
{% endblock %}
