{% extends "base.html" %}
{% block title %}
  {{ SITENAME }} - {% if I18N_TAGS %}{{ I18N_TAGS }}{% else %}#Tags{% endif %}
{% endblock %}
{% block content %}
  <div class="pagep">
    <div class="hentry">
      <h1 class="entrytitle">
        {% if I18N_TAGS %}{{ I18N_TAGS }}{% else %}#Tags{% endif %}
      </h1>
      {% if TAGS_BY_GROUPS %}
        {% for group, group_tag_list in TAGS_BY_GROUPS %}
          <h2 class="h2-like">
            {{ group }}
          </h2>
          <ul class=".entrycontentnopagefooter">
            {% for tag, article_list in tags | sort %}
              {% if tag in group_tag_list %}
                <li class="taglist">
                  <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ article_list | count }})
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endfor %}
        {% set orphean_tag_list = namespace() %}
        {% set orphean_tag_list.global_scope = [] %}
        {% for tag, article_list in tags | sort %}
          {% set tag_is_orphean = namespace() %}
          {% set tag_is_orphean.global_scope = true %}
          {% for group, group_tag_list in TAGS_BY_GROUPS %}
            {% if tag in group_tag_list %}
              {% set tag_is_orphean.global_scope = false %}
              <!-- {{ tag }} belongs to group {{ group }} -->
            {% endif %}
          {% endfor %}
          {% if tag_is_orphean.global_scope == true %}
            <!-- {{ tag }} is orphean -->
            {% set orphean_tag_list.global_scope = orphean_tag_list.global_scope + [(tag,article_list)] %}
          {% else %}
            <!-- {{ tag }} is not orphean -->
          {% endif %}
        {% endfor %}
        {% if orphean_tag_list.global_scope %}
          <!-- orphean_tag_list == {{ orphean_tag_list.global_scope }}  -->
          <h2 class="h2-like">
            {% if I18N_OTHERS %}{{ I18N_OTHERS }}{% else %}Others{% endif %}
          </h2>
          <ul class=".entrycontentnopagefooter">
            {% for tag, article_list in orphean_tag_list.global_scope | sort %}
              <li class="taglist">
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ article_list | count }})
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        <br>
      {% else %}
        <ul class="entrycontent">
          {% for tag, article_list in tags|sort %}
            <li class="taglist">
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ article_list | count }})
            </li>
          {% endfor %}
        </ul>
        <br>
      {% endif %}
    </div>
  </div>
{% endblock %}
